<section class="page about">
  <h1>Sobre Mi</h1>
  <p>Actualmente, busco insertarme en el mundo de IT, con un especial interés en el desarrollo web.
    Soy una persona proactiva con gran habilidad para detectar patrones y resolver problemas de manera eficiente.
    Me apasiona el aprendizaje continuo de nuevas tecnologías y herramientas que me permitan diseñar y construir experiencias digitales impactantes.
    Mi objetivo es seguir creciendo profesionalmente en el campo de IT, seguir puliendo y entendiendo cada día un poco más sobre este magnífico mundo de los lenguajes de programación.
    Estoy recientemente inscripto a la carrera Ingeniería en Computación. 
    Cuento con varios cursos en plataformas como FreeCodeCamp, Coursera (INEFOP) y Udemy, 
    además de haber completado recientemente la Fase 1 - DESARROLLO WEB en JóvenesAProgramar (Plan Ceibal) y cursando FASE 2 especializandome en Ingeniería de datos.</p>   
</section>