<div class="page">
  <section class="hero">
    <div class="hero-left">
      <p class="intro">Hola soy</p>
      <h2 class="name">Mateo de los Santos</h2>
      <h1 class="role"><span>Desarrollador Web Jr</span></h1>

      <div class="social-icons">
        <a href="https://www.instagram.com/mdlso_/"><i class="ri-instagram-line"></i></a>
        <a href="https://www.linkedin.com/in/mateo-de-los-santos-0a8809184/"><i class="ri-linkedin-box-line"></i></a>
        <a href="https://wa.me/+59898669028?text=Hola!%20Quiero%20saber%20más%20sobre%20tu%20trabajo"><i class="ri-whatsapp-line"></i></a>
        <a href="https://github.com/mateodlso"><i class="ri-github-line"></i></a>
      </div>

      <div class="hero-buttons">
        <a href="assets/img/cv.pdf" class="btn-primary">CV General</a>
        <a href="assets/img/cvit.pdf" class="btn-outline">CV IT</a>
      </div>

      <div class="stats">
        <div><h3>5+</h3><p>Experiences</p></div>
        <div><h3>20+</h3><p>Projects done</p></div>
        <div><h3>80+</h3><p>Happy Clients</p></div>
      </div>
    </div>

    <div class="hero-right">
      <img src="assets/img/mateo.png" alt="Mateo de los Santos" />
    </div>

  </section>
</div>
